<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>내 정보 조회하기</title>
</head>
<body>
<h1>내 정보 조회하기</h1>
<p th:text="'id: ' + ${user.id}"></p>
<p th:text="'이메일: ' + ${user.userEmail}"></p>
<p th:text="'아이디: ' + ${user.userId}"></p>
<p th:text="'비밀번호: ' + ${user.userPassword}"></p>
<p th:text="'닉네임: ' + ${user.userNickname}"></p>

<form action="/user/delete" method="post">
    <input type="hidden" name="userId" th:value="${user.id}" />
    <input type="submit" value="회원탈퇴">
</form>
</body>
</html>
